*/__pycache__*
*.DS_Store
__pycache__/
*.pyc
build/
hippynn.egg-info/*
.venv-methane/
.matplotlib-cache/

**/*.ipynb_checkpoints/
**/__pycache__/

datasets/

**/wandb/*


examples/TEST_*/*

examples/methane_sweep/logs_v1_10_hours_max
examples/methane_sweep/logs